@import 'table';

:host {
  display: flex;
  justify-content: space-between;

  .right-panel {
    height: 100vh;
  }

  .list {
    padding: 0px 50px;
    width: 100%;
    padding-bottom: 20px;
    max-height: 100%;
    overflow-y: scroll;
  }
}
