:host {
  input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.3);
    outline: none;
    color: #0a0b0b;
    font-size: 1rem;
    font-weight: 500;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.85rem;
    }

    &:focus, &:active {
      border-color: #007bff;
      border-width: 2px;
    }
  }

  .suggestions {
    flex-wrap: wrap;

    span {
      background-color: #ffffff;
      margin-right: 5px;
      padding: 5px 10px;
      color: rgba(0, 0, 0, 0.7);
      border: 1px solid rgba(0, 0, 0, 0.3);
      margin-top: 10px;
      font-size: 0.9rem;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 123, 255, 0.8);
        color: #ffffff;
      }
    }
  }
}
